@page "/"
@using BookingCare.Components.Components.Header
@using BookingCare.Components.Components.Slider

@inject IStringLocalizer<Lang> m_Localizer
@inject IndexViewModel m_ViewModel

<PageTitle>BookingCare - @m_Localizer.GetString("website-subtitle")</PageTitle>

<div class="container">
	<div class="content">
		<div class="navbar-content">
			<Navbar />
		</div>
		<div class="header-content">
			<Header />
		</div>
		<div class="site-content">
			<div class="slider specialty">
				<WrapperSection Title="@(m_Localizer.GetString("specialty-title"))" 
						TitleURL="/specialties" BackgroundColor="ColorType.Grey">
					<Slider Items="@(new List<SliderImageItem> {
							new SliderImageItem { Name = "Specialty 0", URL = "/image-0" },
							new SliderImageItem { Name = "Specialty 1", URL = "/image-1" },
							new SliderImageItem { Name = "Specialty 2", URL = "/image-2" },
							new SliderImageItem { Name = "Specialty 3", URL = "/image-3" },
							new SliderImageItem { Name = "Specialty 4", URL = "/image-0" },
							new SliderImageItem { Name = "Specialty 5", URL = "/image-1" },
							new SliderImageItem { Name = "Specialty 6", URL = "/image-2" },
							new SliderImageItem { Name = "Specialty 7", URL = "/image-3" },
							new SliderImageItem { Name = "Specialty 8", URL = "/image-2" },
							new SliderImageItem { Name = "Specialty 9", URL = "/image-3" },
						})"/>
				</WrapperSection>
			</div>
			<div class="slider clinic">
				<WrapperSection Title="Outstanding Clinics" TitleURL="/clinics"
						BackgroundColor="ColorType.White">
					<Slider Items="@(new List<SliderImageItem> {
							new SliderImageItem { Name = "Clinic 0", URL = "/image-0" },
							new SliderImageItem { Name = "Clinic 1", URL = "/image-1" },
							new SliderImageItem { Name = "Clinic 2", URL = "/image-2" },
							new SliderImageItem { Name = "Clinic 3", URL = "/image-3" },
							new SliderImageItem { Name = "Clinic 4", URL = "/image-0" },
							new SliderImageItem { Name = "Clinic 5", URL = "/image-1" },
							new SliderImageItem { Name = "Clinic 6", URL = "/image-2" },
							new SliderImageItem { Name = "Clinic 7", URL = "/image-3" },
							new SliderImageItem { Name = "Clinic 8", URL = "/image-2" },
							new SliderImageItem { Name = "Clinic 9", URL = "/image-3" },
						})"/>
				</WrapperSection>
			</div>
			<div class="slider doctors">
				<WrapperSection Title="@(m_Localizer.GetString("outstanding-doctor-title"))" 
						TitleURL="/doctors"
						Height="300"
						BackgroundColor="ColorType.Grey">
					<Slider BackgroundColor="ColorType.Grey"
						Items="@OutstandingDoctors"/>
				</WrapperSection>
			</div>
			<div class="slider handbooks">
				<WrapperSection Title="Handbooks" TitleURL="/handbooks"
						BackgroundColor="ColorType.White">
					<Slider Items="@(new List<SliderImageItem> {
							new SliderImageItem { Name = "Handbook 0", URL = "/image-0" },
							new SliderImageItem { Name = "Handbook 1", URL = "/image-1" },
							new SliderImageItem { Name = "Handbook 2", URL = "/image-2" },
							new SliderImageItem { Name = "Handbook 3", URL = "/image-3" },
							new SliderImageItem { Name = "Handbook 4", URL = "/image-0" },
							new SliderImageItem { Name = "Handbook 5", URL = "/image-1" },
						})"/>
				</WrapperSection>
			</div>
			<div class="about-container">
				<WrapperSection Title="About us" Height="470">
					<About />
				</WrapperSection>
			</div>
		</div>
		<div class="footer-container">
			<Footer />
		</div>
	</div>
</div>

@code {

}
